@charset "UTF-8";

.br-sp {
  display: none;
}

.penmanship {
  width: 100%;
  max-width: 1440px;
  margin: 150px auto 0 auto;
}

.top__title {
  display: flex;
  flex-direction: column;
  font-family: "FOT-筑紫Aオールド明朝 Pr6 M", 'Noto Serif JP', serif;
  font-size: 1.8rem;
}

.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.top__title span {
  font-family: "OptimaNovaLTPro-Light", 'Marcellus', serif;
  font-weight: 400;
  font-size: clamp(35px, 5vw, 71px);
  letter-spacing: 0.25rem;
  line-height: 1.1;
  color: #234D95;
  padding-bottom: 25px;
}

.top__box {
  background-image: url(../images/penmanship_top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  max-width: 1440px;
  width: 100%;
  height: 480px;
  margin: 100px auto 0 auto;
}


.top__ja {
  margin-top: 80px;
  font-family: "FOT-筑紫Aオールド明朝 Pr6 D", 'Noto Serif JP', serif;
  font-size: 2.0rem;
  color: #234D95;
  line-height: 2;
}

.box01 {
  position: relative;
  top: 100px;
  margin: 0 auto 100px auto;
  background-color: #fff;
  padding: 5% 7%;
  width: 40%;
}

.box01::before {
  position: absolute;
  bottom: -4%;
  left: 4%;
  width: 90%;
  height: 100%;
  border-left: 1px solid #AD9258;
  border-bottom: 1px solid #AD9258;
  transition: .3s;
  content: '';
}

.box-title {
  font-family: "FOT-筑紫Aオールド明朝 Pr6 D", 'Noto Serif JP', serif;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #234D95;
}

.box01 p,
.box02 p,
.box03 p {
  text-align: left;
}

.box02,
.box03 {
  margin: 0 auto;
  padding: 0 10%;

}

.box02-wrapper,
.box03-wrapper {
  display: flex;
  max-width: 1025px;
  align-items: center;
}

.box02-wrapper {
  margin-bottom: 100px;
  margin-top: clamp(250px, 30vh, 300px);
}

.box02-wrapper1,
.box03-wrapper1 {
  position: relative;
  background-color: #fff;
  border-bottom: #AD9258 solid 1px;
  border-left: #AD9258 solid 1px;
  padding: 5% 5%;
  width: 40%;
}

.box02-image-sp,
.box03-image-sp {
  display: none;
}

.box02-image,
.box03-image {
  width: 55%;
  padding-left: 5%;
}

.box02-image img,
.box03-image img {
  width: 100%;
}

.box03-wrapper1>.box-title br {
  display: none;
}

h3 {
  font-family: "OptimaNovaLTPro-Light", 'Marcellus', serif;
  font-weight: 200;
  font-size: clamp(35px, 5vw, 60px);
  letter-spacing: 0.2rem;
  color: #234D95;
  border-bottom: solid #AD9258 1px;
  padding-bottom: 22px;
}

.content-title {
  width: 285px;
  margin: 0 auto 165px auto;
}

.content-title div {
  font-family: "FOT-筑紫Aオールド明朝 Pr6 D", 'Noto Serif JP', serif;
  font-size: 2.0rem;
  letter-spacing: 0.2rem;
  padding-top: 10px;
}

#gallery {
  padding-top: 50px;
}

.gallery__wrapper {
  display: flex;
  max-width: 1100px;
  margin: 0 auto 150px auto;
  padding: 0 7%;
  justify-content: space-around;
}

.penman01,
.penman02,
.penman03,
.penman04,
.penman05,
.penman06 {
  background-color: #F9F8F4;
  width: clamp(300px, 43vw, 532px);
  height: clamp(250px, 30vw, 415px);
  margin-bottom: 10%;
}

.penman02,
.penman04,
.penman06 {
  margin-left: 3%;
}

.penman01>.name {
  position: relative;
  max-width: clamp(300px, 40vw, 485px);
  padding: 0 2%;
  top: -10%;
  margin: 0 auto;
}

.penman01>.work {
  top: -6%;
}

.penman02>.name {
  position: relative;
  width: clamp(220px, 25vw, 356px);
  padding: 0 2%;
  top: -14%;
  margin: 0 auto;
}

.penman03>.name {
  position: relative;
  max-width: clamp(250px, 30vw, 430px);
  padding: 0 2%;
  top: -18%;
  margin: 0 auto;
}

.penman03>.name-lead {
  top: -22%;
}

.penman03>.work {
  top: -18%;
}

.penman04>.name {
  position: relative;
  max-width: clamp(240px, 30vw, 420px);
  padding: 0 2%;
  top: -12%;
  margin: 0 auto;
}

.penman04>.name-lead {
  top: -8%;
}

.penman05>.work {
  top: -2%;
}

.penman05>.name {
  position: relative;
  max-width: clamp(240px, 30vw, 420px);
  padding: 0 2%;
  top: -12%;
  margin: 0 auto;
}

.penman05>.work {
  top: -8%;
}

.penman06>.name {
  position: relative;
  max-width: clamp(240px, 28vw, 365px);
  padding: 0 2%;
  top: -12%;
  margin: 0 auto;
}

.penman06>.name-lead {
  top: -20%;
}

.penman06>.work {
  top: -15%;
}

.name img {
  width: 100%;
}

.name-lead {
  position: relative;
  font-size: 1.6rem;
  top: -13%;
}

.name-lead span {
  font-family: "OptimaNovaLTPro-Light", 'Marcellus', serif;
  padding-right: 8px;
}

.work {
  position: relative;
  width: clamp(200px, 22vw, 310px);
  top: -5%;
  margin: 0 auto;
}

.work img {
  position: relative;
  width: 100%;
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
  display: block;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.work img:nth-of-type(2) {
  opacity: 0;
  position: absolute;
  top: 0%;
}

.work:hover img:nth-of-type(2) {
  opacity: 1;
}

.btn {
  margin: 40px auto 0 0;
}

.rangeitem03 {
  width: 83px;
  margin: 30px auto;
}

.rangeitem01,
.rangeitem04 {
  width: 250px;
  margin: 15% auto;
}

.rangeitem04 img {
  margin-top: 100px;
}

#step {
  padding-top: 50px;
}

.step {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  padding: 0 10%;
}

.step__movie {
  max-width: 900px;
  margin: 0 auto;
}

.step__movie video {
  width: 100%;
}

.step__movie-contents {
  background-image: url(../images/step_bg.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  padding-bottom: 10%;
  max-width: 1000px;
  margin: 5% auto 0 auto;
}

.step__contents-bg {
  display: none;
}

.step__movie-lead {
  width: 60%;
  max-width: 550px;
  text-align: left;
  padding-left: 5%;
}

.step__movie-lead div span {
  font-family: "OptimaNovaLTPro-Light", 'Marcellus', serif;
  padding-right: 10px;
}

.step__movie-lead div {
  font-family: "FOT-筑紫Aオールド明朝 Pr6 D", 'Noto Serif JP', serif;
  font-size: 2.0rem;
  color: #234D95;
  padding-bottom: 7px;
  border-bottom: #AD9258 solid 1px;
}


.step__movie-lead p {
  font-family: "FOT-筑紫Aオールド明朝 Pr6 M", 'Noto Serif JP', serif;
  padding-top: 20px;
}

.step__box-contents {

  margin: 0 7%;
}

.step__box {
  background-size: 75%;
  background-repeat: no-repeat;
  max-width: 800px;
  margin: 10px auto 0 auto;
}

.step__box:first-child {
  background-image: url(../images/step01.png);
}

.step__box:nth-child(2) {
  background-image: url(../images/step02.png);
  margin: 120px auto;
}

.step__box:last-child {
  background-image: url(../images/step03.png);
}

.step__box div {
  margin-right: 7%;
}

.step__box-lead {
  background-color: #fff;
  width: 60%;
  text-align: left;
  padding: 12% 10% 12%;
  position: relative;
  top: 20px;
  left: 40%;
  margin-right: 10%;
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
}

.step__box img {
  width: clamp(120px, 20vw, 190px);
  z-index: 100;
  position: relative;
  top: 100px;
  left: 100px;
}

.step__box-bg {
  display: none;
}

.step-border {
  box-sizing: border-box;
  position: absolute;
  right: 20%;
  top: 50%;
  height: 1400px;
  border-right: #AD9258 solid 1px;
}

.step__movie-lead {
  width: 60%;
  max-width: 550px;
  text-align: left;
  padding-left: 5%;
  z-index: 10;
}

.tools__lead-title {
  font-family: "FOT-筑紫Aオールド明朝 Pr6 D", 'Noto Serif JP', serif;
  font-size: 1.6rem;
  color: #234D95;
  padding: 10px 0;
  border-bottom: #AD9258 solid 1px;
  white-space: nowrap;
}

#tools {
  padding-top: 50px;
}

.tools {
  margin-bottom: 350px;
}

.tools__slider-bg {
  background-image: url(../images/tools_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 300px;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

.tools__slider-card {
  position: relative;
  z-index: 1000;
}


.tools__lead p {
  padding-top: 10px;
  text-align: left;
  font-size: 1.5rem;
  font-family: "FOT-筑紫Aオールド明朝 Pr6 D", 'Noto Serif JP', serif;
}

.tools__slider {
  position: relative;
  top: -50px;
  width: 80%;
  margin: 0 auto;

}

.tools__slider .slick-slide {

  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin: 0 40px;
  width: 100%;
  z-index: 1000;
}


.tools__slider .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;

}

.slick-dots {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}



.slick-prev,
.slick-arrow,
.slick-next {
  display: none;
}

.box-title {
  font-family: "FOT-筑紫Aオールド明朝 Pr6 D", 'Noto Serif JP', serif;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #234D95;
}

.rangeitem02 {
  width: 250px;
  margin: 0 auto 15% auto;
}

#history {
  padding-top: 50px;
}

.history__bg {
  background-image: url(../images/history_bg-pc.png);
  background-size: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 1px;
  vertical-align: bottom;
  margin-bottom: -200px;
}

.history__contents {
  background-color: #fff;
  position: relative;
  top: 3%;
  max-width: 1440px;
  margin: 10%;
  padding: 7% 5%;
}

.history__contents-wrapper {
  display: flex;
  margin-bottom: 10%;
}

.history__era {
  width: clamp(120px, 10vw, 190px);
  margin: 0 auto 0 0;
  padding-right: 10%;
}

.history__era img {
  width: clamp(120px, 14vw, 182px);
}

.history__era-lead {
  max-width: 700px;
  text-align: left;
  font-size: 1.5rem;
  letter-spacing: unset;
  line-height: 3.0rem;
}

.history__era-lead span a {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 600;
  text-decoration: underline;
  color: #AD9258;
}

.history__era-lead span a:hover {
  opacity: 0.7;
}

.history__era-lead div {
  padding-top: 20px;
}

.history__era-lead02 {
  margin: 0 auto;
  max-width: 725px;
  text-align: left;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 50px solid #CEB684;
  border-right: 0;
  margin: 50px auto;
  transform: rotate(90deg);
}

.history__era-contents {
  margin: 0 auto;
}

.history__era-content-wrapper,
.history__era-content-wrapper02 {
  display: flex;
}

.history__era-contents01 {
  width: 50%;
  background-color: #CEB684;
}

.history__era-content-wrapper {
  flex-direction: row-reverse;
}

.history__era-contents01-bg {
  background-color: #fff;
  border-radius: 20px 0 20px 0;
  padding: 7% 7% 30% 7%;
  margin: 10px;
}

.history__era-contents02 {
  width: 50%;
}

.history__era-contents02 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.history__era-contents01-bg>.box-title {
  font-size: clamp(20px, 2vw, 30px);
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 1.0rem;
  padding-left: 3%;
}

.history__era-contents01-bg>.rangeitem03 {
  margin: 10px auto;
}

.history__era-contents01-bg p {
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .top {
    padding: unset;
  }

  .top__ja {
    font-size: 1.8rem;
    margin-top: 60px;
    padding: 0 7%;
  }

  .top__ja br {
    display: none;
  }

  .box01 {
    width: 60%;
    top: 150px;
  }

  .box02-wrapper {
    margin-bottom: 100px;
    margin-top: clamp(250px, 20vw, 300px);
  }

  .box02-wrapper,
  .box03-wrapper {
    display: block;
  }

  .box02-wrapper1,
  .box03-wrapper1 {
    width: 75%;
    margin: 0 auto;
  }

  .box02-image-sp,
  .box03-image-sp {
    display: block;
    width: 65%;
    margin: 0px auto 50px auto;
  }

  .box02-image-sp img,
  .box03-image-sp img {
    width: 100%;
  }

  .box02-image-sp img {
    margin-top: 8%;
  }

  .box02-image img,
  .box03-image img {
    display: none;
  }

  .gallery__wrapper {
    padding: 0 7%;
  }

  .gallery {
    margin-bottom: 20%;
  }

  .name-lead {
    font-size: 1.5rem;
  }

  .penman06>.name-lead {
    top: -22%;
  }

  .step {
    padding: 0 7%;
  }

  .step__box-lead {
    left: 25%;
  }

  .step__box img {
    left: 0;
  }

  .tools__slider {
    width: 70%;
  }

  .tools__slider .slick-slide {
    margin: 0 30px;
  }

  .content-title {
    margin: 0 auto 100px auto;
  }

  .history__contents {
    margin: 7%;
  }
}


/* ＝＝＝＝＝＝＝768＝＝＝＝＝＝＝ */
@media screen and (max-width: 768px) {
  .top {
    padding: unset;
  }

  .top__ja {
    font-size: 1.6rem;
    text-align: left;
    padding: 0 7%;
  }

  .box01 {
    top: 200px;
  }

  .box02-image-sp img {
    margin-top: clamp(100px, 2vw, 150px);
  }

  .br-sp {
    display: none;
  }

  .rangeitem01,
  .rangeitem02,
  .rangeitem04 {
    width: clamp(140px, 30vw, 250px);
    margin: 18% auto;
  }


  .content-box {
    margin: 50px auto 0 auto;
  }

  .content-box-wapper01 {
    display: block;
    border-bottom: unset;
  }

  .content-box-wapper02 {
    display: block;
    padding-top: 10px;
    margin-bottom: unset;
  }

  .era-contents01-bg {
    padding: 7% 7% 10% 7%;
    margin: 5px;
  }

  .step {
    max-width: 500px;
    width: unset;
  }

  .step__box img {
    top: 80px;
    left: 0;
  }

  .tools__slider {
    width: 65%;
  }

  .tools__slider .slick-slide {
    margin: 0 30px;
  }

}

@media screen and (max-width: 700px) {
  .gallery__wrapper {
    display: block;
    margin: 0 auto;
    padding: 0 10%;
    margin-bottom: unset;
  }

  .penman01,
  .penman02,
  .penman03,
  .penman04,
  .penman05,
  .penman06 {

    width: clamp(350px, 43vw, 532px);
    margin: 0 auto 180px auto;
  }

  .box03-wrapper1>.box-title br {
    display: block;
  }

  .history__era-contents01-bg {
    margin: 5px;
  }

  .history__era-content-wrapper,
  .history__era-content-wrapper02 {
    display: block;
  }

  .history__era-contents01,
  .history__era-contents02 {
    width: 80%;
  }

  .history__era-contents02 {
    position: relative;
    left: 5%;
    z-index: 10;
  }

  .history__era-contents01 {
    position: relative;
    left: 15%;
    top: -50px;
    z-index: 100;
    padding: 1px;
  }

  .tools__slider {
    width: 80%;
  }

  .tools__slider .slick-slide {
    margin: 0 30px;
  }

  .triangle {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 30px solid #CEB684;
  }
}

@media screen and (max-width: 600px) {
  .tools__slider {
    width: 60%;
  }

  .tools__slider .slick-slide {
    margin: 0 30px;
  }

}

@media screen and (max-width: 500px) {

.penmanship {
  margin: 120px auto 0 auto;
}

  .top__box {
    background-position: 10% 50%;
    height: 266px;
  }

  .box01 {
    padding: 5% 7% 5% 10%;
    width: 80%;
    top: 150px;
  }

  .box02,
  .box03 {
    padding: unset;
  }

  .box02-wrapper1,
  .box03-wrapper1 {
    width: 80%;
  }

  .gallery__wrapper {
    padding: unset;
  }

  .penman01,
  .penman02,
  .penman03,
  .penman04,
  .penman05,
  .penman06 {
    width: 100%;
    max-width: 0 auto 180px auto;
  }

  .step__movie-lead {
    width: 80%;
    padding: 5% 5% 0px 5%;
    margin: 0 auto;
  }

  .box02-image-sp {
    padding-top: 60%;
    width: 90%;
  }

  .box03-image-sp {
    padding-top: 10%;
    width: 90%;
  }

  .step__movie-lead div {
    font-size: 1.8rem;
  }

  .activities__title p {
    font-size: 1.8rem;
    text-align: left;
  }

  .activities__title p>.br-sp {
    display: none;
  }

  .rangeitem01,
  .rangeitem02,
  .rangeitem04 {
    margin: 30% auto;
  }

  .step {
    padding: unset;
  }

  .step__box {
    background-image: unset;
  }

  .step__box:first-child {
    background-image: unset;
  }

  .step__box:nth-child(2) {
    background-image: unset;
    margin: unset;
  }

  .step__box:last-child {
    background-image: unset;
  }

  .step__contents-bg {
    display: block;
    width: 400px;
    margin: 0 auto;
  }

  .step__contents-bg img {
    width: 100%;

  }

  .step__movie-contents {
    background-image: unset;
  }

  .step-border {
    display: none;
  }

  .step__box div {
    margin-right: unset;
  }

  .step__box-lead {
    position: relative;
    background-color: #fff;
    width: 70%;
    margin: 0 10%;
    left: 5px;
    top: -200px;
    padding: 15% 5% 5%;
    z-index: 10;
  }

  .step__box:nth-child(2) {
    margin: -150px auto;
  }

  .step__box-bg {
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 280px;
  }

  .step__box:first-child .step__box-bg {
    background-image: url(../images/step01.png)
  }

  .step__box:nth-child(2) .step__box-bg {
    background-image: url(../images/step02.png);
  }

  .step__box:last-child .step__box-bg {
    background-image: url(../images/step03-sp.png);
  }

  .step__box:last-child {
    margin: 10px auto -200px auto;
  }

  .step__box:nth-child(2) {
    margin: -150px auto;
  }

  .step__box img {
    top: -145px;
    left: -50px;
  }

  .history__contents-wrapper {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .tools__slider {
    width: 80%;
  }

  .tools__slider .slick-slide {
    margin: 0 30px;
  }

}